@keyframes pulse {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}

.skeleton{
    animation: pulse 2s linear infinite;
    background: linear-gradient(
      -90deg,
      #f0f0f0 0%,
      #e0e0e0 50%,
      #f0f0f0 100%
    );
    background-size: 400% 400%;
}